In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("yield.csv")
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485,121.0,16.37
1,Albania,Potatoes,1990,66667,1485,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485,121.0,16.37
3,Albania,Sorghum,1990,12500,1485,121.0,16.37
4,Albania,Soybeans,1990,7000,1485,121.0,16.37

In [3]:
df.columns

Index(['Area', 'Item', 'Year', 'hg/ha_yield', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp'],
      dtype='object')

In [4]:
col = ['Year','average_rain_fall_mm_per_year','pesticides_tonnes', 'avg_temp','Area', 'Item', 'hg/ha_yield']

In [5]:
df = df[col]

In [6]:
df.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area,Item,hg/ha_yield
0,1990,1485,121.0,16.37,Albania,Maize,36613
1,1990,1485,121.0,16.37,Albania,Potatoes,66667
2,1990,1485,121.0,16.37,Albania,"Rice, paddy",23333
3,1990,1485,121.0,16.37,Albania,Sorghum,12500
4,1990,1485,121.0,16.37,Albania,Soybeans,7000

In [7]:
#splitting data
X = df.drop('hg/ha_yield', axis = 1)
y = df['hg/ha_yield']

In [8]:
X.shape

(25932, 6)

In [9]:
y.shape

(25932,)

In [10]:
# importing train_split_data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0, shuffle=True)

In [11]:
#encoding
ohe = OneHotEncoder(drop = 'first')
scale = StandardScaler()

preprocessor = ColumnTransformer(
    transformers = [
        ('StandardScale', scale, [0,1,2,3]),
        ('OneHotEncode', ohe, [4,5])
    ], 
    remainder = 'passthrough'
)

In [12]:
X_train_dummy = preprocessor.fit_transform(X_train)
X_test_dummy  = preprocessor.fit_transform(X_test)

In [13]:
preprocessor.get_feature_names_out(col[:-1])

array(['StandardScale__Year',
       'StandardScale__average_rain_fall_mm_per_year',
       'StandardScale__pesticides_tonnes', 'StandardScale__avg_temp',
       'OneHotEncode__Area_Algeria', 'OneHotEncode__Area_Angola',
       'OneHotEncode__Area_Argentina', 'OneHotEncode__Area_Armenia',
       'OneHotEncode__Area_Australia', 'OneHotEncode__Area_Austria',
       'OneHotEncode__Area_Azerbaijan', 'OneHotEncode__Area_Bahamas',
       'OneHotEncode__Area_Bahrain', 'OneHotEncode__Area_Bangladesh',
       'OneHotEncode__Area_Belarus', 'OneHotEncode__Area_Belgium',
       'OneHotEncode__Area_Botswana', 'OneHotEncode__Area_Brazil',
       'OneHotEncode__Area_Bulgaria', 'OneHotEncode__Area_Burkina Faso',
       'OneHotEncode__Area_Burundi', 'OneHotEncode__Area_Cameroon',
       'OneHotEncode__Area_Canada',
       'OneHotEncode__Area_Central African Republic',
       'OneHotEncode__Area_Chile', 'OneHotEncode__Area_Colombia',
       'OneHotEncode__Area_Croatia', 'OneHotEncode__Area_Denmark',
       'OneHotEncode__Area_Dominican Republic',
       'OneHotEncode__Area_Ecuador', 'OneHotEncode__Area_Egypt',
       'OneHotEncode__Area_El Salvador', 'OneHotEncode__Area_Eritrea',
       'OneHotEncode__Area_Estonia', 'OneHotEncode__Area_Finland',
       'OneHotEncode__Area_France', 'OneHotEncode__Area_Germany',
       'OneHotEncode__Area_Ghana', 'OneHotEncode__Area_Greece',
       'OneHotEncode__Area_Guatemala', 'OneHotEncode__Area_Guinea',
       'OneHotEncode__Area_Guyana', 'OneHotEncode__Area_Haiti',
       'OneHotEncode__Area_Honduras', 'OneHotEncode__Area_Hungary',
       'OneHotEncode__Area_India', 'OneHotEncode__Area_Indonesia',
       'OneHotEncode__Area_Iraq', 'OneHotEncode__Area_Ireland',
       'OneHotEncode__Area_Italy', 'OneHotEncode__Area_Jamaica',
       'OneHotEncode__Area_Japan', 'OneHotEncode__Area_Kazakhstan',
       'OneHotEncode__Area_Kenya', 'OneHotEncode__Area_Latvia',
       'OneHotEncode__Area_Lebanon', 'OneHotEncode__Area_Lesotho',
       'OneHotEncode__Area_Libya', 'OneHotEncode__Area_Lithuania',
       'OneHotEncode__Area_Madagascar', 'OneHotEncode__Area_Malawi',
       'OneHotEncode__Area_Malaysia', 'OneHotEncode__Area_Mali',
       'OneHotEncode__Area_Mauritania', 'OneHotEncode__Area_Mauritius',
       'OneHotEncode__Area_Mexico', 'OneHotEncode__Area_Montenegro',
       'OneHotEncode__Area_Morocco', 'OneHotEncode__Area_Mozambique',
       'OneHotEncode__Area_Namibia', 'OneHotEncode__Area_Nepal',
       'OneHotEncode__Area_Netherlands', 'OneHotEncode__Area_New Zealand',
       'OneHotEncode__Area_Nicaragua', 'OneHotEncode__Area_Niger',
       'OneHotEncode__Area_Norway', 'OneHotEncode__Area_Pakistan',
       'OneHotEncode__Area_Papua New Guinea', 'OneHotEncode__Area_Peru',
       'OneHotEncode__Area_Poland', 'OneHotEncode__Area_Portugal',
       'OneHotEncode__Area_Qatar', 'OneHotEncode__Area_Romania',
       'OneHotEncode__Area_Rwanda', 'OneHotEncode__Area_Saudi Arabia',
       'OneHotEncode__Area_Senegal', 'OneHotEncode__Area_Slovenia',
       'OneHotEncode__Area_South Africa', 'OneHotEncode__Area_Spain',
       'OneHotEncode__Area_Sri Lanka', 'OneHotEncode__Area_Sudan',
       'OneHotEncode__Area_Suriname', 'OneHotEncode__Area_Sweden',
       'OneHotEncode__Area_Switzerland', 'OneHotEncode__Area_Tajikistan',
       'OneHotEncode__Area_Thailand', 'OneHotEncode__Area_Tunisia',
       'OneHotEncode__Area_Turkey', 'OneHotEncode__Area_Uganda',
       'OneHotEncode__Area_Ukraine', 'OneHotEncode__Area_United Kingdom',
       'OneHotEncode__Area_Uruguay', 'OneHotEncode__Area_Zambia',
       'OneHotEncode__Area_Zimbabwe', 'OneHotEncode__Item_Maize',
       'OneHotEncode__Item_Plantains and others',
       'OneHotEncode__Item_Potatoes', 'OneHotEncode__Item_Rice, paddy',
       'OneHotEncode__Item_Sorghum', 'OneHotEncode__Item_Soybeans',
       'OneHotEncode__Item_Sweet potatoes', 'OneHotEncode__Item_Wheat',
       'OneHotEncode__Item_Yams'], dtype=object)

NameError: name 'dtr' is not defined